<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">update post</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
           
                <div >
                    <h4 for="posttitle">title</h4>
                   <div >
                        <div ><h5>{{itemdetails.title}}</h5></div>
                    </div>
                </div>

                <div >
                    <h4 for="posttitle">Description</h4>
                   <div >
                        <div ><h5>{{itemdetails.description}}</h5></div>
                    </div>
                </div>

            
        </div>
    </div>
</div>
