<!--<div class="container-fluid" mt-5 hidden>
  <div class="row">
    <div class="col-md-8">
      <app-student-list (selectST)="editEmployee($event)" (idDel)="deleteEmp($event)" [Refresh]="refresh" [students]="employees"></app-student-list>
    </div>


    <div class="col-md-4">

      <button (click)="isadd()" class="btn btn-primary">add Employee</button>
      <div *ngIf="ishide">
        <app-employee-item [employee]="emp" (Refresh)="refreshList($event)" (addEmp)="addOrEdit($event)" [departments]="depart"></app-employee-item>

      </div>
    </div>
  </div>
</div>-->



<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a routerLink="view-employee" class="nav-link" class="btn btn-primary active" role="button">View Employees</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-employee" class="nav-link" class="btn btn-primary active" role="button">Add Employees</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>

